body{
    display: flex;
    height: max-content;
    justify-content: center;
}
.heading{
    display: flex;
    justify-content: center;
    text-align: center;
    color: gold;
}

.text{
    display: flex;
    justify-content: center;
    font-size: 5vh;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.signin{
    display: flex;
    justify-content: center;
}
.box{
    background-color: gold;
    margin-top: 35vh;
}

.box:hover box{
    background-color: aqua;
}